<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            theme: tailwind.colors.indigo,
          }
        }
      }
    }
  </script>
</head>
<body class="flex h-screen bg-zinc-900">
  <div class="m-auto max-w-lg px-4 sm:px-6 sm:max-w-xl md:max-w-2xl">
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-zinc-100 sm:text-5xl md:text-6xl">
       The issue tracking tool <wbr/>you'll enjoy using
      </h1>
      <p class="mx-auto mt-3 max-w-md text-base text-zinc-500 sm:text-lg md:mt-5 md:max-w-3xl md:text-xl">Linear helps streamline software projects, sprints, tasks, and bug tracking. It's built for high-performance teams.</p>
    </div>
  </div>
</body>
</html>
